<div class="container">
	<h2 class="title-lg">
		Total <%= @questions.count %>
		<%= inclinator(@questions.count, 'question', 'questions') %>
	</h2>
</div>

<% @questions.each do |question| %>
	<% class_question_hidden = question.hidden ? "question_is_hidden" : "question_is_visible" %>

	<%= content_tag :div, class: ["mt-sm", "container", class_question_hidden] do %>
	<%= render question %>
	<% end %>  
<% end %>
